/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Project 4 Starts here */
* {
	box-sizing: border-box;
	}

html{
	font-size: 62.5%;
	font-family: 'Lucida Console', monospace;
}

body{
	line-height: 1.5;
	font-size:1.8rem;
	color: #4F4f4f;
	width: 100%;
}

h1 h2 h3 {
	letter-spacing: 1%;
	text-align: center;
}
h1{
	font-size:5rem;
}

h2{
	font-size:4rem;
	text-align: center;
}

h3{
	font-size:2.5rem;
}
header{
	box-sizing: border-box;
}

.nav_bar{
    margin: 2%;
    padding: 10%;
	background-image: url("https://images.unsplash.com/photo-1522083165195-3424ed129620?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1160&q=80");

}


a {
	padding: 1%;
	margin: 2% 0%;
	text-decoration: none;
	background-color: #f4511e;
	color: white;
	opacity: 0.6;
	border-radius: 20%;
}

a:hover {
	opacity: 1
}



.flex-container{
	display: flex;
	justify-content: space-around;
	margin: 3%;
	box-sizing: border-box;
}

 .aboutme{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.aboutme-click{
	text-align: center;
}

.aboutme-click > a{
	padding: 5%;
	text-align: center;
}

p {
	 text-align: center;
	 text-justify: inter-word;
}
.projects {
}


.nav_bar_footer{
    padding: 2%;
	background-image: url("https://images.unsplash.com/photo-1522083165195-3424ed129620?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1160&q=80");
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}
/*  *//*  *//*  *//*  *//*  *//*  */
/* Media Queries */
/*  *//*  *//*  *//*  *//*  *//*  */

@media(max-width:800px){
	.nav_bar{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	h1{
		text-align: center;
	}


	.vertical-menu{
		margin: 10% 25%;
	}
	.vertical-menu a{
		 display: block;
		 padding: 5%;
		 margin: 1%;
	}

	.flex-container{
		display: block;

		margin: 3%;
		box-sizing: border-box;
	}

	.main-pic{
		display: flex;
		justify-content: center;
		margin: 2%;
	}
	.aboutme{
		display: block;

		width: 50%;
		margin: 0 auto;
	}
	.aboutme-click{
		margin: 5%;
	}

	.projects{
		display: flex;
		justify-content: center;
	}
}



@media(max-width:500px){
	.aboutme{
		display: block;
		width: 100%;
		margin: 0 auto;
	}
}


@media(max-width:360px){

.projects{
	box-sizing: border-box;
}
	.aboutme-bar{
		box-sizing: border-box;
	}
	.flex-container{
		display: block;
		margin: 3%;

	}
	.main-pic{
		display: flex;
		justify-content: center;
		margin: 2%;
	}
	.main-pic img{
	width: 100%;
}
	.projects > flex-container{
		width: 50%;
	}
	.flex-container img {
		width: 100%;
	}
}
